* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: rgb(232,113,41);
	font-family: Georgia, serif;
	font-size: 0.80em;
}

#wrapper {
	background-color: rgb(20,20,20);
	color: white;
	font-family: Verdana, sans-serif;
	font-size: 0.70em;
}

#sitenav {
	background-color: rgb(57,57,57);
	padding-left: 10px;
}
	#sitenav a {
		display: inline-block;
		color: rgb(128,139,146);
		padding: 10px 15px;
		font-size: 0.75em;
		font-weight: 700;
	}

#contentnav {
	background-color: rgb(20,20,20);
	/*border: 1px solid white;*/
	padding: 20px;
	font-size: 0.80em;
}
	#contentnav img {
		vertical-align: top;
	}
	#contentnav li {
		display: inline-block;
		width: 200px;
	}
	#contentnav li div {
		display: inline-block;
		width: 100px;
	}

#calltoaction {
	background-color: rgb(17,17,17);
	padding: 20px;
}
	#calltoaction div {
		display: inline-block;
		width: 600px;
	}
	#calltoaction button {
		display: inline-block;
		background-color: rgb(232,113,41);
		color: white;
		padding: 5px 12px;
		border-radius: 5px;
	}


#portfolio li {
	display: inline-block;
}